.grid{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    color:white;

}

.grid div{
    background-color: blue;
}

.grid div:nth-child(even){
    background:red;
}

.grid div:first-child{
    grid-column-start: span 1;
    grid-column-end: span 1;
}